body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center; /* Centra todo el contenido */
}

.header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.subtitle {
    font-size: 1.2em;
}

.courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.course {
    margin-bottom: 10px;
}

.course a,
li a { /* Estilo común para enlaces */
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #343a40;
    background-color: #fff;
    border: 2px solid #343a40;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.course a:hover,
li a:hover { /* Estilo común para enlaces al pasar el mouse */
    background-color: #343a40;
    color: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5em;
    }
    .subtitle {
        font-size: 1em;
    }
    .courses-container {
        padding: 10px;
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
