body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.title {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}
.subtitle {
    font-size: 1.2em;
}
.courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.course {
    margin-bottom: 10px;
}
.course a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #343a40;
    background-color: #fff;
    border: 2px solid #343a40;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
}
.course a:hover {
    background-color: #343a40;
    color: #fff;
}
.firma {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5em;
    }
    .subtitle {
        font-size: 1em;
    }
    .courses-container {
        padding: 10px;
    }
}
